@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  --next-previous-page-width: 30%; /* Must be between 0% and 50% */
  --footer-height: 4em;
  --slider-height: 1em;
  padding: 0;
  margin: 0;
  /*
  background: var(--background-gradient), var(--background-image);
  background-blend-mode: multiply;
  background-position: center;
  */
  background: var(--background-gradient);
  overflow: hidden;
  display: grid;
  place-content: center;
  height: 100vh;
}

body.darkTheme {
  --background-image: url("../img/background-imperfections.webp");
  --background-gradient: linear-gradient(0deg, rgb(31 31 31) 0%, rgb(74 74 74) 100%);
  --menu-background-color: rgb(30, 30, 30);
  --menu-text-color: white;
}

body.lightTheme {
  --background-image: url("../img/background-imperfections.webp");
  --background-gradient: linear-gradient(0deg, rgb(197 197 197) 0%, rgb(245 245 245) 100%);
  --menu-background-color: rgb(220, 220, 220);
  --menu-text-color: black;
}

body.continuousScrolling {
  height: unset;
  overflow-y: visible;
}

body, select, option {
  font-family: Quicksand;
  color: var(--menu-text-color);
  font-family: Quicksand;
  font-weight: bold;
}

#eyeFilter.enabled {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(255,200,130);
  opacity: 0.5;
  mix-blend-mode: multiply;
  z-index: 20;
  pointer-events: none;
}

.disabled {
  display: none;
}

.slider {
  -webkit-appearance: none;
  height: calc(var(--slider-height) / 2);
  border-radius: 1em;
  background: lightgray;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--slider-height);
  height: var(--slider-height);
  border-radius: 50%;
  background: var(--menu-text-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: var(--slider-height);
  height: var(--slider-height);
  border-radius: 50%;
  background: var(--menu-text-color);
  cursor: pointer;
}

select {
  border: none;
  padding-right: .5em;
  background: none !important;
}

select > option {
    background-color: var(--menu-background-color);
    font-size: 100% !important;
}
