body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  --image-nav-width: 30%; /* Must be between 0% and 50% */
  --footer-height: 4em;
  --background-color: grey;
  --slider-height: 2em;
  background-color: var(--background-color);
  overflow: hidden;
  display: grid;
  place-content: center;
  height: 100vh;
}

@media only screen and (max-width: 70vh) {
  #navImage #imgPageLeft, #navImage #imgPageRight {
    max-width: 100vw;
  }
}

#navImage {
  display: grid;
  grid-auto-flow: column;
}

#navImage #imgPageLeft, #navImage #imgPageRight {
  max-height: 100vh;
  mix-blend-mode: multiply;
}

#navImage.shadow {
  background-color: white;
}

#navImage.shadow.doublePage {
    background-image: url("img/page.webp");
    background-size: 100% 100%;
    background-blend-mode: multiply;
}

#navMenu > .icon {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: var(--footer-height);
}

#navMenu > #configMenu {
  background-image: url("img/icon/settings.png");
}

#navMenu > #doublePageButton {
  background-image: url("img/icon/singlePageMode.png");
  background-size: 45%;
}

#navMenu > #leftChapterButton {
  background-image: url("img/icon/leftChapter.png");
  background-size: 45%;
}

#navMenu > #rightChapterButton {
  background-image: url("img/icon/rightChapter.png");
  background-size: 45%;
}


#navMenu > #doublePageButton.enabled {
  background-image: url("img/icon/doublePageMode.png");
  background-size: 55%;
}

#navMenu > #fullScreenButton {
  background-image: url("img/icon/enterFS.png");
  background-size: 40%;
}

#navMenu > #fullScreenButton.enabled {
  background-image: url("img/icon/exitFS.png");
  background-size: 40%;
}


#navImage.doublePage #imgPageLeft, #navImage.doublePage #imgPageRight {
  max-width: 50vw;
}

#navImage {
  height: 100%;
  width: min-content;
  position: relative;
}

#leftPageButton, #rightPageButton {
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--image-nav-width);
  cursor: pointer;
  z-index: 5;
}

#leftPageButton {
  left: 0;
}

#rightPageButton {
  right: 0;
}

#navMenu {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  place-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: .2s transform;
}

#navMenu p, #navMenu select, #navMenu {
  font-size: 120%;
  margin: 0
}

#navMenu.hidden {
  transform: translateY(calc(var(--footer-height) * 1.5));
  transition-duration: 2s;
}

@media only screen and (max-width: 70vh) {

  body {
    --slider-height: 1em;
  }

  #navMenu p, #navMenu select, #navMenu {
    font-size: 1.6vw;
  }

}

#navMenu > div {
  background: white;
  color: black;
  text-align: center;
  width: max-content;
  height: var(--footer-height);
  padding: 0.5em 1em 0.5em 1em;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  border: solid 1px var(--background-color);
}

#navMenu > div.button {
  cursor: pointer;
}

#chapterSelection {
  border: none;
  padding-right: 0.5em;
}

#navMenu > #sliderContainer > #pageSliderLeft,
#navMenu > #sliderContainer > #pageSliderRight {
  width: 3em;
  text-align: center
}

#navMenu > #sliderContainer > #pageSlider {
  width: 15em;
}

#pageSlider {
  -webkit-appearance: none;
  height: calc(var(--slider-height) / 2);
  border-radius: 1em;
  background: lightgray;
  outline: none;
}

#pageSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--slider-height);
  height: var(--slider-height);
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

#pageSlider::-moz-range-thumb {
  width: var(--slider-height);
  height: var(--slider-height);
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

#eyeFilter.enabled {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(255,200,130);
  opacity: 0.5;
  mix-blend-mode: multiply;
  z-index: 20;
  pointer-events: none;
}
